// color
$background-color: white;
$highlight-background-color: #f0f0f0;
$header-divider-color: #333333;
$body-divider-color: #a0a0a0;
// type system
$s-font: 0.75em;
$sm-font: 0.875em;
$m-font: 1em;
$ml-font: 1.25em;
$l-font: 1.5em;
$lg-font: 1.75em;
$g-font: 2em;
$xg-font: 3em;

// spacing
$t-margin-fixed: 0.25rem;
$xs-margin-fixed: 0.5rem;
$s-margin-fixed: 0.75rem;
$m-margin-fixed: 1rem;
$l-margin-fixed: 2rem;
$g-margin-fixed: 3rem;

//max-body width
$body-width: 750px;
$table-of-content-width: 300px;
$divider-width: 500px;